.outer{
  display : flex ; 
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}
.inner{
  margin-top: 5vh;
}
.inner button{
  width : 5vw;
  padding : 10px ; 
  outline : 0 ; 
  margin : 10px ;
  cursor: pointer;

}
.content{
  margin-top: 5vh;
}
.content h3{
  margin-bottom: 5vh;
}
.content li{
  margin-bottom: 3vh;
}