.pageOuter{
   position: absolute;
    display: flex;
    width : 80vw ; 
    margin-left: 10vw;
    /* justify-content: space-evenly; */
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.pageOuter div{
    height : 40px;
    width:8%;
    border : 2px solid black;
    text-align: center;
    padding-top: 10px;
}

.noMargin{
    border-right: 0 !important;
}
.pageOuter div:hover{
    background-color: gray ;
    cursor: pointer;
}